/* Bootleg-normalize */
* {
  padding: 0;
  margin: 0;
}

body {
  font-family: Arial, Helvetica, Sans-Serif;
  font-size: 0.9em;
  color: #DDD; 
  background-color: #181818;
  background: linear-gradient(#272727, #000000, #000000, #000000);
}

/* HEADINGS ---------------------------------------------------------------- */

h1 {
  font-size: 1.5em;
  margin: 1em auto;
  text-align: center;
}

h2 {
  color: #67A0AA;
  font-size: 1.2em;
  margin: 1em auto 1em auto;
  background-color: #2F2F2F;
  text-align: center;
  padding: 0.2em 0;
  width: 100%;
  border-bottom: 2px solid #5B5B5B;
}

h3 {
  color: orange;
  border-bottom: 2px solid #5B5B5B;
  margin-top: 2em;
  margin-bottom: 1em;

}

.news-one h2, .news-two h2 {
  color: #3AABF4;
  border-bottom: 0;
  margin: 0;
}

/* LINKS AND LISTS --------------------------------------------------------- */

a {
  text-decoration: none;
  color: #FF4500;
}

a.dlbutton {
  text-decoration: none;
  color: #EE9060;
  display: inline-block;
  padding: 0.8em;
  margin: 0.3em 0.2em;
  background-color: #2F2F2F;
  width: 150px;
  border: 1px #444444 solid;
  border-radius: 2px;
}

a.dlbutton-small {
  text-decoration: none;
  color: #EE9060;
  display: inline-block;
  padding: 0.3em 0.4em;
  margin: 0.2em 0.1em;
  background-color: #2F2F2F;
  border: 1px #444444 solid;
  border-radius: 2px;
}

a.dlbutton:hover, a.dlbutton-small:hover {
  background-color: #3C3C3C;
}

.dlbuttons {
  text-align: center;
}

hr {
  border: 2px solid #5B5B5B;
}

ul {
  margin-left: 2.5em;
  margin-bottom: 2em;
}

li {
  margin-bottom: 0.2em;
}

img {
  max-width: 98%;
}

/* SECTION STYLES ---------------------------------------------------------- */

.navlist {
  text-align: center;
  border-bottom: 2px solid #5B5B5B;
  padding-bottom: 1.2em;
  font-weight: bold;
}

.wrapper {
  background-color: #222;
  border: 1px #444444 solid;
  border-radius: 2px;
}

.section {
  margin: 0.5em;
  letter-spacing: 0.25px;
  line-height: 125%;
}

.section p {
  margin: 1em;
}

.libraries img {
  display: block;
  margin: 0 auto;
}

.libraries p {
  font-size: 105%;
}

.launcher p {
  font-size: 105%;
}

.launcher a {
  color: #DEA410;
}

.launcher img {
  display: block;
  margin: 0 auto;
  text-align: center;
  width: 350px;
}

.launcher h2 {
  color: #DEA410;
  padding: 0.4em 0;
  border: 2px solid #5B5B5B;
  width: 95%;
}

.launcher .dlbutton {
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 1px;
}

.footer {
  text-align: center;
}

/* Boxes used in the Library section */

.box {
  border: 1px #444444 solid;
  border-radius: 2px;
  padding: 1em 1em;
  margin: 0.5em 1em 0.5em 1em;
  font-size: 95%;
}

.box p {
  margin: 0;
  padding: 0;
}

/* Display box used for screenshots and videos ----------------------------- */

.displaybox {
  width: 100%;
  text-align: center;
}

.dbox-item {
  margin: 0.5em;
  display: inline-block;
  font-weight: bold;
  font-style: italic;
}

.dbox-image {
  max-height: 80px;
}

/* notices -------------------------------------- */

.notice {
  margin: 0em auto;
  background-color: #2F2F2F;
  padding: 0.8em 1em;
  border-left: 4px solid #5B5B5B;
  font-style: italic;
}

/* SPANS AND STYLES -------------------------------------------------------- */

.red {
  color: #FF0000;
}

.bright-red {
  color: #EE9060;
}

.blue {
  color: #5586A6;
}

.yellow {
  color: #DEA410;
}

.green {
  color: #7AC478;
}

.dark-blue {
  color: #42758A;
}

.vernum {
  font-family: monospace;
  font-size: 110%;
}

.text-centered {
  text-align: center;
}

.bold {
  font-weight: bold;
}

.img-right {
  float: right;
  margin-right: 1em;
  margin-left: 0.85em;
  display: inline-block;
}

.img-left {
  float: left;
  margin-left: 1em;
  margin-right: 0.85em;
  display: inline-block;
}

.caption-img p {
  text-align: center;
  margin-top: 0.25em;
}
